<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Brewery Trip</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Brewery Trip!</h1>
        <p class="lead">Enter your preferred latitude and longitude as a home location to start journey on collecting
            beer</p>
        <hr class="my-4">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    <div class="row align-items-center">
        <div class="mx-auto" style="width: 800px;">
            <form action="{% url 'brewerytrip:results' %}" method="post" class="form-inline">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" id="latitude" name="latitude" required class="form-control" placeholder="Latitude"/>
    </div>
    <div class="form-group">
        <input type="text" id="longitude" name="longitude" required class="form-control" placeholder="Longitude"/>

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
            <br/>
            <form action="{% url 'brewerytrip:results' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" id="latitude" name="latitude" required class="form-control" placeholder="Latitude"
                       value="51.355468"/>
                <input type="hidden" id="longitude" name="longitude" required class="form-control"
                       placeholder="Longitude"
                       value="11.100790"/>
                <button type="submit" class="btn btn-danger">Try (51.355468, 11.100790)</button>

            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>